.effect1 {
	padding: 5%;

	h1 {
		display: inline-block;
		font-weight: 900;
		//text-transform: uppercase;
		text-align: center;

		animation: background 20s linear infinite;
		background-size: 100% calc(100% - 2px);
		background: linear-gradient(
			90deg,
			rgba(28, 58, 63, 1) 0%,
			rgba(199, 201, 88, 1) 10%,
			rgba(28, 147, 46, 1) 20%,
			rgba(74, 165, 168, 1) 30%,
			rgba(89, 90, 165, 1) 40%,
			rgba(84, 16, 67, 1) 50%,
			rgba(150, 48, 30, 1) 60%,
			rgba(82, 175, 183, 1) 70%,
			rgba(78, 170, 76, 1) 80%,
			rgba(150, 48, 30, 1) 90%,
			rgba(199, 201, 88, 1) 100%
		);
		background-size: 1000% 100%;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		position: absolute;
		transform: translate(-50%, -50%);
		animation: fadeIn 10s infinite alternate;
	}

	@keyframes fadeIn {
		from {
			opacity: 0;
		}
	}

	div {
		display: block;
	}
	span:nth-child(1) {
		//font-size: 3vw;
		line-height: 30%;
		//word-spacing: -1em;
		//text-indent: -0.33em;
	}
	span:nth-child(2) {
		//font-size: 3vw;
		line-height: 30%;
		//word-spacing: -1em;
		// text-indent: -0.07em;
	}
	span:nth-child(3) {
		//font-size: 3vw;
		line-height: 30%;
		//word-spacing: -1em;

		// text-indent: -0.07em;
	}
	span:nth-child(4) {
		//font-size: 3vw;
		line-height: 30%;
		//word-spacing: -1em;
		// text-indent: -0.07em;
	}
	span:nth-child(5) {
		//font-size: 80%;
		line-height: 30%;
		//word-spacing: -1em;
		// text-indent: -0.07em;
	}

	@keyframes background {
		0% {
			background-position: 0% 50%;
		}
		100% {
			background-position: 100% 50%;
		}
	}
	#neighbor_1 {
		// font-style: italic;
		line-height: 0.9;
		letter-spacing: -1px;
		position: absolute;
		//bottom: 5%;
		//font-size: 80%;
		//font-family: "Crimson Text", "sans serif";
		//color: black;
		//padding-top: 4%;
		// right: 13px;
		animation: fadeIn 4s infinite alternate;
		//text-align: right;
	}

	// @keyframes fadeIn {
	//   from {
	//     opacity: 0;
	//   }
	// }

	#name_1 {
		color: black;
		font-weight: 900;
		font-family: "Roboto", sans-serif;
		text-transform: uppercase;
		font-size: 3vw;
		line-height: 110%;
		padding: 1%;
		// border-bottom: 5px solid black;
	}

	.card {
		// width: 500px;
		height: 65%;
		//  height: 135px;
		background-color: #ffffe6;
		box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.65);
		margin: 25px;
	}
}
