.effect2 {
}

#roll01 {
  padding: 3%;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 5vw;
  // -webkit-text-stroke-width: 3px;
  // -webkit-text-stroke-color: white;
  line-height: 85%;
  position: relative;
  // font-style: italic;
  background: url(http://apps.pittsburghpa.gov/redtail/images/231_City_Pittsburgh_Incline.jpg)
    no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: auto;
  text-align: left;
  color: rgba(0, 0, 0, 0.2);
  -webkit-background-clip: text;
  text-align: canter;
  position: relative;
  flex-direction: column;
  justify-content: center;
  display: inline;
}

#name_01 {
  padding: 5%;
}

// #neighbor_1 {
//   padding-top: 3%;
//   font-size: 120%;
//   position: relative;
//   bottom: 10px;
//   // text-align: right;
//   color: black;
//   // -webkit-text-stroke-width: 2px;
//   // -webkit-text-stroke-color: black;
//   font-family: "Crimson Text", "sans serif";
// }

canvas {
}
#neighbor_2 {
  font-style: italic;
  line-height: 0.9;
  letter-spacing: -2px;
  position: absolute;
  bottom: 5%;
  font-size: 90%;
  //font-family: "Crimson Text", "sans serif";
  color: black;
  padding: 4%;
  right: 13px;
  animation: fadeIn 4s infinite alternate;
  text-align: right;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}
