.node {
  overflow: visible;
  position: absolute;
  display: flex;
  flex-direction: column;
  -webkit-transition: width 2s, height 4s; /* For Safari 3.1 to 6.0 */
  transition: width 2s, height 4s;
  border-style: solid;
  border-color: white;
  padding: 0.5%;
  opacity: 1;
}

.node:hover {
  width: 300px;
  height: 300px;
}

.node0,
.node1 {
  display: none;
}

#screenTreemap {
  height: 100%;
}

.message {
  //height: 12%;
  padding: {
    //left: 30px;
    top: 10px;
  }
  img {
    height: 100px;
    display: inline-block;
    //  vertical-align: -25%;
    vertical-align: -90%;
    //margin-right: 20px;
    padding-bottom: 2%;
  }
}
#message p {
  //padding-top: 2%;
  word-break: break-word;
  font-size: 1000%;
  text-align: left;
  //color: yellow;
  display: inline-block;
  opacity: 0.2;
  z-index: -9;
}

.treemap {
  position: relative;
  height: 88%;
  top: 10%;
}

#screen-con {
  height: 100%;
}

.color1 p,
.color1 span {
  color: #1072ba !important;
}
.color2 p,
.color2 span {
  color: white !important;
}
.color3 p,
.color3 span {
  color: #642e92 !important;
}
.color4 p,
.color4 span {
  color: white !important;
}
.color5 p,
.color5 span {
  color: #1072ba !important;
}
.color6 p,
.color6 span {
  color: cyan !important;
}
.color7 p,
.color7 span {
  color: skyblue !important;
}
.color8 p,
.color8 span {
  color: white !important;
}
.color9 p,
.color9 span {
  color: burlywood !important;
}
.color10 p,
.color10 span {
  color: violet !important;
}
